.forget__password__section {
  padding-block: 2rem 3rem;

  .forget__password__container {
    max-width: 500px;
    margin-inline: auto;
    padding-inline: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .forget__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;

      .forget__title {
        font-weight: 400;
        margin-bottom: 1rem;
        text-align: center;
      }
    }

    .forget__btn {
      text-align: center;
      background-color: var(--primary);
      color: #fff;
      border: 1px solid var(--primary);
      border-radius: 1rem;
      transition: all 0.3s ease;
      padding: 1rem;
      font-size: 1rem;

      &:hover {
        background-color: transparent;
        color: var(--primary) !important;
      }
    }
  }
}

@media (min-width: 768px) {
  .forget__password__container {
    form {
      .forget__btn {
        width: fit-content !important;
        padding: 0.5rem 3rem;
      }
    }
  }
}
