.product__section {
  padding-top: 1rem;
}
.product__section .product__container {
  padding-inline: 1rem;
  max-width: 800px;
  margin-inline: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-block: 1.5rem;
  margin-bottom: 2rem;
}
.product__section .product__container .wrapper .main__slider {
  margin-bottom: 1rem;
}
.product__section .product__container .wrapper .main__slider .product__title__mobile {
  display: none;
}
.product__section .product__container .wrapper .main__slider .slide__img {
  overflow: hidden;
  background-color: #fff;
  height: 300px;
  width: 100%;
}
.product__section .product__container .wrapper .main__slider .slide__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.product__section .product__container .wrapper .secondary__slider :global(.secondary__slider__item) {
  opacity: 0.5;
  transition: opacity 0.3s;
}
.product__section .product__container .wrapper .secondary__slider :global(.secondary__slider__item.is-active) {
  opacity: 1;
  border: 1px solid var(--bg-dark);
}
.product__section .product__container .wrapper .secondary__slider .slide__img__secondary {
  height: 100px;
  background-color: #fff;
  border: 1px solid var(--primary);
  border-radius: 1rem;
}
.product__section .product__container .wrapper .secondary__slider .slide__img__secondary img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.product__section .product__container .product__details {
  min-width: 280px;
}
.product__section .product__container .product__details .product__info {
  margin-bottom: 1.5rem;
}
.product__section .product__container .product__details .product__info h2 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}
.product__section .product__container .product__details .product__info h5 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.product__section .product__container .product__details .product__info p {
  font-size: 1rem;
  font-weight: 300;
}
.product__section .product__container .product__details .product__price {
  margin-bottom: 1rem;
}
.product__section .product__container .product__details .product__price span {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.product__section .product__container .product__details .tabs__container {
  margin-block: 1.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.product__section .product__container .product__details .tabs__container .tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  border: 1px solid var(--secondary-color);
  border-radius: 2rem;
  color: #909090;
  padding: 0.5rem 0.8rem;
}
.product__section .product__container .product__details .tabs__container .tabs.active {
  border: 1px solid var(--primary);
  color: var(--primary);
}
.product__section .product__container .product__details .product__actions .product__amount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.product__section .product__container .product__details .product__actions .product__amount button {
  padding: 0.3rem 0.8rem;
  border: 1px solid var(--primary);
  border-radius: 2rem;
  background-color: var(--primary);
  color: #fff;
  font-size: 1.2rem;
}
.product__section .product__container .product__details .product__actions .product__amount button:disabled {
  opacity: 0.5;
}
.product__section .product__container .product__details .product__actions .product__amount .product__number {
  font-size: 1.2rem;
}
.product__section .product__container .product__details .product__actions .product__btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.product__section .product__container .product__details .product__actions .product__btns button {
  font-size: 1rem;
  border: 1px solid var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
}
.product__section .product__container .product__details .product__actions .product__btns button:hover {
  background-color: transparent;
  color: var(--primary);
}
.product__section .product__container .product__details .product__actions .product__btns .add__btn {
  background-color: var(--primary);
  color: var(--secondary-color);
}

.related__products,
.suggested__products {
  padding: 1rem;
  max-width: 1300px;
  margin-inline: auto;
}
.related__products h3,
.suggested__products h3 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .product__section .product__container {
    flex-direction: row;
  }
}
@media (max-width: 1200px) {
  .product__container {
    max-width: 1150px;
  }
}
@media (max-width: 992px) {
  .product__container {
    max-width: 980px;
  }
}
@media (max-width: 768px) {
  .product__container {
    max-width: 760px;
  }
}/*# sourceMappingURL=ProductSlug.module.css.map */