.account__container {
  .account__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .contact__information {
    padding: 1rem;

    .contact__title {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #ddd;
    }

    .contact__text {
      font-size: 1rem;
      margin-block: 2rem;

      .contact__name,
      .contact__email,
      .contact__phone {
        font-size: 1rem;
        margin-bottom: 0.8rem;
        color: var(--primary);
        font-weight: 300;

        span {
          color: var(--font-dark);
          font-weight: 500;
          margin-inline-start: 0.5rem;
        }
      }
    }

    .info__links {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;

      a {
        color: var(--primary);
      }

      span {
        color: #777;
      }
    }
  }
}
