.login__section {
  .login__container {
    max-width: 500px;
    padding-inline: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .login__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .login__title {
        font-weight: 400;
        margin-bottom: 1rem;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      .login__btn {
        text-align: center;
        padding-block: 0.8rem;
        background-color: var(--primary);
        color: #fff;
        border: 1px solid var(--primary);
        border-radius: 2rem;
        transition: all 0.3s ease;
        &:hover {
          background-color: transparent;
          color: var(--primary) !important;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .login__container {
    form {
      .login__btn {
        width: fit-content !important;
        padding: 0.5rem 3rem;
      }
    }
  }
}
