.container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-inline: auto;
  margin-block: 2rem;

  .container__header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .dashboard__logo {
      width: 100%;
      max-width: 300px;

      img {
        width: 100%;
        max-width: 300px;
        object-fit: contain;
      }
    }

    .admin__title {
      font-size: 2rem;
      font-weight: 600;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;
    }
  }

  .data__grid {
    overflow-x: auto;
  }
}

@media (max-width: 576px) {
  .container__header {
    .admin__title {
      font-size: 1.5rem !important;
    }
  }
}
