.container {
  width: 90%;
  margin-inline: auto;
  margin-block: 2rem;

  .container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .actions {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;
    }
  }

  .data__grid {
    overflow-x: auto;
  }
}
